* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  background-color: rgb(238, 244, 241);
}

.container {
  text-align: center;
}

.heading {
  font-size: 4rem;
  letter-spacing: 0.15rem;
  margin-bottom: 2rem;
  color: rgb(1, 32, 40);
}

span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 6rem;
  font-stretch: semi-condensed;
  color: rgb(1, 32, 40);
}

.button-container {
  margin-top: 1rem;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.18rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: transparent;
  padding: 0.2rem 0.5rem 0.3rem 0.3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px grey;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}
